// --- VARIABLES ---
//COLORS
$white-color: #fff;
$background-color: #e0fbfc;
$primary-color: #293241;
$secondary-color: #98c1d9;
$cta-color: #ee6c4d;
$table-border: #ddd;

//FONTS
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$inter: 'Inter', sans-serif;
$playfair: 'Playfair Display', serif;

// --- STYLE ---
body {
  background: $background-color;
  font-family: $inter;
  color: $primary-color;
}

#btn-to-top {
  display: inline-block;
  position: fixed;
  bottom: 30px;
  right: 30px;
  visibility: hidden;
  opacity: 0;
  z-index: 999999;
  cursor: pointer;
  transition: 0.3s;
}
#btn-to-top.show {
  opacity: 1;
  visibility: visible;
}
#btn-to-top:hover {
  transform: scale(1.2);
}

.navbar {
  transition: 0.4s;
  .container {
    #navbarSupportedContent {
      .form-inline {
        .btn-nav {
          border: 2px solid $cta-color;
          border-radius: 4px;
          padding-left: 24px;
          padding-right: 24px;
          color: $cta-color;
        }
        .btn-nav:hover {
          border: 2px solid $cta-color;
          border-radius: 4px;
          background: $cta-color;
          color: $white-color;
        }
      }
      .navbar-nav {
        .nav-item {
          .nav-link {
            font-size: 14px;
            font-weight: 600;
          }
        }
      }
    }
  }
}
#main-navbar.sticky-top {
  background: $primary-color;
  transition: 0.4s;
}

.hero-section {
  margin: 100px 0 100px 0;
  .container {
    .row {
      .hero-left {
        .hero-heading {
          font-family: $playfair;
          color: $primary-color;
          font-weight: 800;
          font-size: 48px;
          margin-bottom: 40px;
        }
        .hero-text {
          color: $primary-color;
          font-size: 16px;
          line-height: 24px;
        }
        .btn-cta {
          background: $cta-color;
          color: $white-color;
          padding: 12px 36px 12px 36px;
          transition: 0.3s;
        }
        .btn-cta:hover {
          background: $primary-color;
          color: $white-color;
          transform: scale(1.1);
        }
      }
      .hero-right {
        .hero-image {
          width: 800px;
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .hero-section {
    .container {
      .row {
        .hero-right {
          margin-top: 56px;
          .hero-image {
            width: 100%;
          }
        }
      }
    }
  }
}

.companies-section {
  background: $secondary-color;
  padding: 60px 0 60px 0;
  .container {
    .row {
      .companies-left {
        .companies-heading {
          font-family: $playfair;
          font-size: 36px;
          font-weight: 700;
          color: $primary-color;
        }
        .companies-text {
          margin-top: 24px;
          color: $primary-color;
          line-height: 28px;
        }
      }
      .companies-right {
        .companies-list {
          list-style: none;
          opacity: 0.6;
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .companies-section {
    .container {
      .row {
        .companies-right {
          .companies-list {
            flex-direction: column;
            justify-content: start;
            padding-left: 0;
            .companies-item {
              margin-top: 24px;
            }
          }
        }
      }
    }
  }
}

.video-section {
  margin: 100px 0 100px 0;
  .video-container {
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
    .video-source {
      border-radius: 20px;
    }
  }
}

.info-section {
  margin: 100px 0 100px 0;
  .container {
    .info-heading {
      text-align: center;
      font-family: $playfair;
      font-size: 44px;
      font-weight: 800;
      color: $primary-color;
    }
    .info-text {
      text-align: center;
      color: $primary-color;
      font-family: $inter;
      font-size: 18px;
      margin-top: 20px;
    }
  }
  .content-wrapper {
    margin-top: 100px;
    .row {
      .card-wrapper {
        .card-heading {
          font-size: 20px;
          margin-top: 12px;
        }
        .card-text {
          font-size: 16px;
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .info-section {
    .content-wrapper {
      margin-top: 0;
      .row {
        .card-wrapper {
          margin-top: 64px;
        }
      }
    }
  }
}

.community-section {
  .container {
    .row {
      .comunity-left {
        .community-heading {
          font-family: $playfair;
          font-weight: 700;
          margin-bottom: 24px;
        }
        .community-section {
          font-family: $inter;
          line-height: 28px;
        }
      }
      .community-right {
        .community-image {
          box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
          width: 560px;
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .community-section {
    .container {
      .row {
        .community-right {
          .community-image {
            width: 100%;
          }
        }
      }
    }
  }
}

.footer {
  margin-top: 200px;
  background: $primary-color;
  padding-top: 100px;
  .container {
    .row {
      .footer-nav {
        .footer-nav-list {
          list-style: none;
          .footer-nav-link {
            text-decoration: none;
            color: $white-color;
            font-size: 14px;
            transition: 0.3s;
          }
          .footer-nav-link:hover {
            color: $cta-color;
          }
        }
      }
    }
    .separator {
      height: 1px;
      background: $cta-color;
      margin-top: 124px;
    }
    .copyright {
      padding-top: 12px;
      .copy-text {
        color: $white-color;
        font-size: 12px;
        font-weight: normal;
      }
      .copy-list {
        list-style: none;
        .copy-list-item {
          margin-left: 12px;
          transition: 0.3s;
        }
        .copy-list-item:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .footer {
    .container {
      .row {
        .footer-nav {
          text-align: center;
          padding-left: 0;
          .footer-nav-list {
            flex-direction: column;
          }
        }
      }
      .separator {
        margin-top: 32px;
      }
      .copyright {
        justify-content: center !important;
        .copy-text {
          text-align: center;
        }
        .copy-list {
          padding-left: 0;
        }
      }
    }
  }
}

//Prvi koraci
.jumbotron-section {
  background: url('../../images/laptop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  .jumbotron-heading {
    font-family: $playfair;
    color: $white-color;
    font-weight: 800;
    font-size: 48px;
    margin-bottom: 40px;
  }
  .jumbotron-text {
    color: $white-color;
    font-size: 16px;
    line-height: 24px;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 28px;
  }
}
@media only screen and (max-width: 992px) {
  .jumbotron-section {
    .jumbotron-heading {
      font-size: 32px;
    }
    .jumbotron-text {
      font-size: 12px;
    }
  }
}

.features-section {
  display: flex;
  margin-top: 100px;
  .container {
    .row {
      .features-heading {
        font-family: $playfair;
        color: $primary-color;
        font-weight: 800;
        font-size: 40px;
        margin-bottom: 56px;
      }
      .features-left {
        display: flex;
        flex-direction: column;
        .row {
          .features-item-image {
            width: 40px;
          }
          .features-text {
            .features-left-heading {
              font-size: 20px;
              font-weight: bold;
            }
            .features-left-text {
              font-size: 12px;
              text-align: justify;
            }
          }
        }
      }
    }
    .features-right {
      .features-image {
        box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
        width: 100%;
      }
    }
  }
}

.functionality-section {
  margin-top: 100px;
  .container {
    .row {
      .functionality-text {
        max-width: 600px;
        text-align: justify;
        font-size: 16px;
      }
    }
  }
}

.communication-section {
  margin-top: 100px;
  .container {
    .row {
      .communication-left {
        order: 999;
        .communication-image {
          max-width: 100%;
        }
      }
      .communication-right {
        order: 1000;
        .communication-header {
          font-size: 1.75rem;
        }
        .form-inline {
          .btn-nav {
            border: 2px solid $cta-color;
            border-radius: 4px;
            padding-left: 24px;
            padding-right: 24px;
            color: $cta-color;
          }
          .btn-nav:hover {
            border: 2px solid $cta-color;
            border-radius: 4px;
            background: $cta-color;
            color: $white-color;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .features-section {
    .container {
      .heading-wrapper {
        justify-content: center;
      }
      .row {
        .features-right {
          margin-top: 40px;
        }
      }
    }
  }
  .communication-section {
    .container {
      .row {
        .communication-left {
          order: 1000;
        }
        .communication-right {
          order: 999;
          margin-bottom: 40px;
        }
      }
    }
  }
}

.questions-section {
  margin-top: 100px;
  .container {
    .column {
      .questions-header {
        font-size: 1.75rem;
      }
      .questions-accordion {
        .accordion {
          background-color: $primary-color;
          color: $white-color;
          cursor: pointer;
          padding: 18px;
          width: 100%;
          text-align: left;
          margin-bottom: 20px;
          border: none;
          outline: none;
          transition: 0.4s;
          display: flex;
          justify-content: space-between;
          border-radius: 10px;
        }
        .accordion-panel {
          padding: 0 20px;
          background-color: $background-color;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.4s ease-out;
        }
        .accordion-text {
          text-align: left;
        }
      }
    }
  }
}

//POREDJENJE-CMS
.headline-section {
  background: url('../../images/cms.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
}

.about-wp {
  margin-top: 100px;
  .heading {
    font-family: $playfair;
    color: $primary-color;
    font-weight: 800;
    font-size: 48px;
    margin-bottom: 40px;
  }
  .subheading {
    font-family: $playfair;
    color: $primary-color;
    font-weight: 800;
    font-size: 1.75rem;
    margin-bottom: 40px;
  }
  .about-wp-text {
    max-width: 600px;
    text-align: justify;
    font-size: 16px;
  }
}

.wp-features {
  display: inline-flex;
  margin-top: 100px;
  .column {
    .row {
      min-height: 185px;
      margin-bottom: 40px;
      .col-2 {
        .wp-features-image {
          width: 56px;
        }
      }
      .col-10 {
        .heading {
          font-weight: bold;
          font-size: 20px;
        }
        .text {
          text-align: justify;
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .wp-features {
    flex-direction: column;
    .column {
      .row {
        min-height: 0;
      }
    }
  }
}

.rest-section {
  margin-top: 100px;
  .container {
    .rest-heading {
      font-family: 'Playfair Display', serif;
      color: #293241;
      font-weight: 800;
      font-size: 1.75rem;
      margin-bottom: 40px;
    }
    .rest-text {
      text-align: center;
      font-size: 16px;
      padding: 0 12%;
      padding-bottom: 40px;
    }
    .rest-images {
      .col-12 {
        .rest-image {
          width: 50%;
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .rest-section {
    .container {
      .rest-text {
        padding: 0;
        text-align: justify;
      }
      .rest-image:first-child {
        margin-top: 40px;
      }
    }
  }
}

.table-section {
  margin-top: 100px;
  .container {
    .table-frame {
      overflow: auto;
      box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
      .table-sel {
        width: 100%;
        thead {
          tr {
            th {
              background-color: $primary-color;
              color: $cta-color;
              padding: 15px;
              border-bottom: 1px solid $table-border;
              border-right: 1px solid $table-border;
            }
            td {
              padding: 15px;
              text-align: left;
              border-bottom: 1px solid $table-border;
              border-right: 1px solid $table-border;
            }
          }
        }
        tbody {
          tr {
            th {
              background-color: $primary-color;
              color: $cta-color;
              padding: 15px;
              border-bottom: 1px solid $table-border;
              border-right: 1px solid $table-border;
            }
            td {
              padding: 15px;
              text-align: left;
              border-bottom: 1px solid $table-border;
              border-right: 1px solid $table-border;
            }
          }
        }
      }
    }
  }
}
.teme-hero-section {
  display: grid;
  grid-template-rows: repeat(3, max-content);

  .content {
    .teme-hero-image {
      display: block;
      max-width: 100%;
    }
  }

  .teme-hero-header,
  .content {
    padding: 24px;
    > .inner {
      margin: 0 auto;
      max-width: 60rem;
    }
  }

  .teme-hero-header {
    background-color: $secondary-color;
  }

  .teme-hero-heading {
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: $playfair;
    font-size: 36px;
    font-weight: 700;
    color: $primary-color;
  }

  .content {
    background: linear-gradient(
      180deg,
      rgba($secondary-color, 1) 60%,
      rgba($secondary-color, 0) 60%,
      rgba($secondary-color, 0) 100%
    );
  }
}
.teme-main-section {
  margin-top: 100px;
  .container {
    .button-row {
      .buttons-wrapper {
        .btn-cta {
          background: $cta-color;
          color: $white-color;
          padding: 8px 24px 8px 24px;
          transition: 0.3s;
        }
        .btn-cta:hover {
          background: $primary-color;
          color: $white-color;
          transform: scale(1.1);
        }
        .btn-cta:not(:last-child) {
          margin-right: 12px;
        }
      }
      .col {
        .teme-search-text {
          font-family: $playfair;
          font-size: 24px;
          font-weight: 700;
          color: $primary-color;
        }
      }
    }
  }
}
@media only screen and (max-width: 992px) {
  .teme-main-section {
    .container {
      .button-row {
        .buttons-wrapper {
          flex-direction: column;
          .btn-cta {
            margin-right: 0px !important;
          }
        }
      }
    }
  }
}
.font-heading {
  color: $primary-color;
  font-family: $inter;
  font-size: 18px;
}
.card-background {
  background-color: $white-color;
  color: $primary-color;
}

// O-timu
.o-timu-hero-section {
  margin-top: 100px;
  .container {
    .row {
      .col-12 {
        .o-timu-hero-heading {
          font-family: $playfair;
          color: $primary-color;
          font-weight: 800;
          font-size: 48px;
          margin-bottom: 40px;
        }
        .o-timu-hero-text {
          color: $primary-color;
          font-size: 16px;
          line-height: 24px;
        }
      }
      .o-timu-image {
        width: 700px;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .o-timu-hero-section {
    .container {
      .row {
        .o-timu-image {
          width: 100%;
        }
      }
    }
  }
}

.about-section {
  margin-top: 100px;
  .container {
    .team-member-wrapper {
      margin-top: 100px;
      .social-part {
        .social-links-list {
          padding-left: 0;
          margin-top: 16px;
          list-style: none;
          display: flex;
          justify-content: space-around;
          .social-link-item {
            transition: 0.3s;
            .social-link {
              .social-link-image {
                width: 28px;
              }
            }
          }
          .social-link-item:hover {
            transform: scale(1.1);
          }
        }
        .member-picture {
          box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
        }
      }
    }
  }
}

// ISTORIJA
.istorija-hero-section {
  margin-top: 100px;
  .container {
    .row {
      .col-12 {
        .istorija-hero-heading {
          font-family: $playfair;
          color: $primary-color;
          font-weight: 800;
          font-size: 48px;
          margin-bottom: 40px;
        }
        .istorija-hero-text {
          color: $primary-color;
          font-size: 16px;
          line-height: 24px;
        }
        .btn-istorija-hero {
          border: 2px solid $cta-color;
          border-radius: 4px;
          padding-left: 24px;
          padding-right: 24px;
          color: $cta-color;
        }
        .btn-istorija-hero:hover {
          background: $cta-color;
          color: $white-color;
        }
      }
    }
  }
}

.about-wordpress-section {
  margin-top: 100px;
  .container {
    .row {
      .col {
        .about-wordpress-heading {
          font-family: $playfair;
          font-weight: 700;
          margin-bottom: 24px;
        }
        .about-wordpress-text {
          font-family: $inter;
          line-height: 28px;
        }
      }
    }
    .first-wordpress {
      margin-top: 64px;
      .col-12 {
        .first-wp-image {
          width: 100%;
          box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
        }
      }
    }
    .additional-text {
      margin-top: 64px;
    }
  }
}

@media only screen and (max-width: 992px) {
  .about-wordpress-section {
    .container {
      .first-wordpress {
        margin-top: 28px;
        .col-12 {
          margin-top: 24px;
        }
      }
    }
  }
}

.new-wordpress-section {
  margin-top: 100px;
  .container {
    .row {
      .col {
        .new-wordpress-heading {
          margin-bottom: 64px;
          text-align: center;
          font-family: $playfair;
          font-size: 44px;
          font-weight: 800;
          color: $primary-color;
        }
      }
      .new-wordpress-wrapper {
        .new-wordpress-text {
          font-family: $inter;
          line-height: 32px;
          text-align: center;
          font-size: 18px;
          font-family: $inter;
        }
      }
    }
    .new-wordpress-images {
      margin-bottom: 64px;
    }
    .carousel {
      box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
    }
    .carousel-control-next-icon {
      background-image: url('../../images/chevron-right.svg');
      width: 36px;
      height: 36px;
    }
    .carousel-control-prev-icon {
      background-image: url('../../images/chevron-left.svg');
      width: 36px;
      height: 36px;
    }
    .carousel-indicators {
      li {
        background: $primary-color;
        border-top: 0;
        border-bottom: 0;
      }
    }
  }
}

.testimonials-section {
  margin-top: 100px;
  .container {
    .row {
      .col {
        .testimonials-heading {
          font-family: $playfair;
          font-size: 36px;
          font-weight: 700;
          color: $primary-color;
        }
      }
    }
    .testimonials-list {
      margin-top: 32px;
      .testimonial-col {
        display: flex;
        align-items: stretch;
        padding-right: 36px;
        .testimonial-wrapper {
          padding: 36px;
          background: $secondary-color;
          border-radius: 4px;
          min-height: 352px;
          .testimonial-heading {
            .testimonial-info {
              .testimonial-info-heading {
                font-weight: 600;
                font-size: 18px;
              }
              .testimonial-info-job {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .testimonials-section {
    .container {
      .testimonials-list {
        .testimonial-col {
          margin-top: 12px;
        }
      }
    }
  }
}
